//Media Query Mixin - Desktop-first
@mixin forSmallScreens($media) {
    @media (max-width: $meida/16+em) {
        @content;
    }
}
//General
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
}
blockquote {
    font-style: italic;
}
