@import 'mediaqueries';
header {
    width: 50%; //Properties for small screens
    background: red;
    @include mobileFirst(640) {
        width: 100%; //Properties for large screens
        background: blue;
    }
}
