@font-face { font-family: iconfont; src: url(../font/iconfont.woff) format("woff"); }
@font-face { font-family: fzzhengheis-el-gbregular; src: url(../font/FZZXHJW.TTF); }
* { border: none; margin: 0px auto; padding: 0; vertical-align: baseline; text-decoration: none; font-style: normal; list-style: none; }

body { text-align: center; background-color: #F6F6F6; }

a { text-decoration: none; }

i { font-style: normal; }

img { border: none; vertical-align: middle; }

.row { width: 100%; clear: both; }

.main { width: 1190px; height: auto; margin: 0 auto; padding: 0; position: relative; }

.icon_shutdown { cursor: pointer; width: 20px; height: auto; margin: 0; padding: 0; position: absolute; right: 5px; top: 5px; font-weight: bold; font-size: 14px; color: white; text-align: center; line-height: 20px; background: rgba(45, 45, 45, 0); opacity: 0.9; }

.top_bg { background-color: #000000; }
.top_bg .nav_top_pic { height: 80px; position: relative; }

.top_nav_bg { background-color: #e3e4e5; border-bottom: 1px solid #ddd; position: relative; }
.top_nav_bg .top_nav { height: 30px; line-height: 30px; color: #999; font-size: 12px; }

.fl { float: left; }
.fl li { position: relative; }
.fl li.drop_down { margin-left: 200px; }
.fl li .show_area { font-family: iconfont; padding-right: 7px; padding-left: 7px; }

.fr { float: right; }
.fr a { color: #999; }
.fr a:hover { color: #c81623; }
.fr li { float: left; position: relative; }
.fr li.fore1 { margin-right: 8px; }
.fr li.spacer { overflow: hidden; margin: 11px 5px 0; width: 1px; height: 10px; background-color: #ccc; }
.fr .dt { padding-left: 7px; padding-right: 7px; }

.top_logo { height: 140px; position: relative; }

.logo { width: 190px; height: 170px; margin: 0; padding: 0; position: absolute; z-index: 2; left: 0; top: -31px; box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.2); background-color: #fff; }
.logo .logo_tit { width: 100%; height: 100%; }
.logo .logo_tit .logo_tit_lk { overflow: hidden; width: 190px; height: 170px; margin: 0; padding: 0; position: relative; background-image: url(../images/logo.v2.png); background-repeat: no-repeat; text-indent: -999px; display: block; }

.search-m { position: relative; z-index: 1; height: 60px; }
.search-m .form, .search-m .button { width: 550px; height: 35px; margin: 0; padding: 0; position: absolute; left: 320px; top: 25px; }
.search-m .text { left: 0; width: 500px; height: 35px; margin: inherit; padding: 4px; position: absolute; border: 1px solid #f10215; color: #989898; top: 0; outline: none; line-height: 25px; font-size: 14px; }
.search-m .button { top: 0; left: 500px; width: 50px; border: none; outline: none; font-weight: 700; font-size: 20px; color: #fff; text-align: inherit; line-height: 35px; background: #f10215; opacity: 1; }
.search-m .button .icon_search { font-family: iconfont; font-style: normal; }

.drop_down_cart { position: absolute; z-index: 6; right: 99px; top: 25px; overflow: hidden; }
.drop_down_cart .cw-icon { overflow: hidden; width: 188px; height: 33px; margin: 0; padding: 0; position: relative; float: left; border: 1px solid #e3e4e5; line-height: 33px; background-color: #fff; text-align: center; }
.drop_down_cart .cw-icon .ci-count { position: absolute; top: 5px; left: 140px; right: auto; display: inline-block; border-radius: 9px; min-width: 12px; padding: 2px; font-weight: 400; font-size: 12px; color: #fff; text-align: center; line-height: 12px; background: #f10215; opacity: 0.9; }
.drop_down_cart .cw-icon .icon_cart { font-family: iconfont; font-style: normal; color: #f10215; }
.drop_down_cart .cw-icon a { color: #f10215; font-size: 12px; }

.hot_words { overflow: hidden; width: 550px; height: 20px; margin: 0; padding: 0; position: absolute; left: 320px; top: 65px; line-height: 20px; }
.hot_words a { float: left; margin-right: 10px; white-space: nowrap; color: #999; font-size: 12px; }
.hot_words a.style-red { color: #f10215; }

.nav_items { display: block; z-index: 3; overflow: hidden; position: absolute; left: 200px; bottom: 0px; width: 790px; height: 40px; }
.nav_items ul, .nav_items li, .nav_items .spacer { float: left; }
.nav_items li { margin-left: 30px; }
.nav_items a { position: relative; display: block; font-weight: 700; font-size: 16px; color: #555; text-align: center; line-height: 40px; background: rgba(45, 45, 45, 0); opacity: 0.9; }
.nav_items .spacer { width: 1px; height: 10px; overflow: hidden; margin: 15px -10px 0 15px; background-color: #ccc; }

.row_slide { z-index: 9; padding-bottom: 10px; }

.main_slide { z-index: 1; width: 1190px; height: 480px; background-color: #f6f6f6; position: relative; margin: 0 auto; }
.main_slide .fs_col2 { width: 790px; height: 100%; float: left; }
.main_slide .fs_col2 .slider_main { position: relative; margin-bottom: 10px; height: 340px; }
.main_slide .fs_col2 .slider_item { overflow: hidden; position: absolute; width: 100%; height: 100%; background-color: #fff; }
.main_slide .fs_col2 .slider_extend, .main_slide .fs_col2 .slider_bi { margin-left: -10px; height: 130px; }
.main_slide .fs_col2 .slider_bi { margin-left: 10px; width: 390px; height: 130px; overflow: hidden; float: left; }
.main_slide .fs_col2 .slider_bi_lk { display: block; width: 100%; height: 100%; background-color: #fff; }
.main_slide .fs_col2 .slider_bi_img { display: block; width: 390px; height: 130px; }

.fs_col1 { float: left; width: 190px; height: 100%; margin-right: 10px; }
.fs_col1 .cate { position: relative; z-index: 2; }
.fs_col1 .cate_menu { overflow: hidden; padding: 15px 0; height: 450px; background-color: #6e6568; color: #fff; }
.fs_col1 .cate_menu_item { float: left; width: 178px; height: 30px; font-weight: 400; font-size: 0; color: inherit; text-align: left; line-height: 30px; background: rgba(45, 45, 45, 0); opacity: 1; padding-left: 12px; }
.fs_col1 .cate_menu_item a:hover { color: #f10215; }
.fs_col1 .cate_menu_lk { font-size: 14px; color: #fff; }
.fs_col1 .cate_menu_line { padding: 0 4px; font-size: 12px; }

.slider_indicator { margin-left: -91px; position: absolute; z-index: 1; left: 50%; bottom: 20px; font-size: 0; padding: 4px 8px; border-radius: 12px; background-color: rgba(255, 255, 255, 0.3); }
.slider_indicator i { font-style: normal; }
.slider_indicator_btn { display: inline-block; margin-right: 10px; width: 12px; height: 12px; border-radius: 100%; background-color: #fff; cursor: pointer; }
.slider_indicator_btn_active { background-color: #db192a; }

/*# sourceMappingURL=indexStyle.css.map */
